
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.otsikko, .lisaysBoxi {
    padding: 20px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
 
}
.container{
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center;
}
.navi{
    display: flex;
    background-image: url("huonekasvit.jpg");
}
.tehtavat{
    
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    min-height: 100px;
    display: flex;  
}
.otsikko{
   
    margin-bottom: 20px;
    color: white;
    font-size: 20px;

}

input{
    padding-left: 6px;
    min-width: 450px;
    height: 34px;
    border: none;
    display: flex;
    border-radius: 3px;
    background-color: white;
    font-size: 20px;
    
}
#lisaaTekeminen{
    
    margin-left: -27px;
    margin-top: 7px;
    height: 50px;
    width: 50px;
    border: none;
}
.paivays, #otsikko2{
    color: rgb(53, 70, 69);
    margin: 20px;
    font-size: 25px;
}
h3{
    font-size: 22px;
    text-align: center;
}

.poista{
    border: none;
    margin: 10px;
    border-radius: 3px;
    height: 30px; 
    background-color: rgb(106, 134, 158);

}
.poista:hover{
    opacity: 0.8;
    color:rgb(195, 221, 221);
}


li {
    list-style: none;;
    padding: 2px;
    justify-content: space-between;
    display: flex;
    min-width: 350px;
    height: 30px;
    align-items: center;
    background-color: white;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: rgb(97, 103, 108);
}

.fa-solid {
    
    margin-left: 10px;
    font-size:22px;
    color:rgb(97, 103, 108);
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.tehty{
   color:rgb(97, 103, 108);
   margin-left: 5px;
}
.tehty:hover{
    opacity: 0.8;
    color:rgb(195, 221, 221)

}

.fa-solid:hover{
    opacity: 0.8;
    color:rgb(195, 221, 221);
}
    

.checked{
    color:rgb(97, 103, 108);
    text-decoration: line-through;
    
}
.clear{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

